footer{
    background-color: #F7F7F7;
    padding: 2rem ;
    grid-column: content;
}

.footer__column {
grid-column: span 3;
}

.footer__first__div{
    grid-column: 1 /span 3;
    grid-row: 1;
}

.footer__bottom__div{
    grid-column: content;
    grid-row: 3;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    border-top: 1px solid grey;
    padding-top: 2rem;
}

.footer__bottom__div ul{
    display: flex;
}
.footer__bottom__div ul li{
   margin-left: 4rem;
}

.footer__column,
.footer__first__div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}