section.hero{
    position: relative;
}

.hero__img{
    width: 72rem;
}

.hero__text{
    position: absolute;
    top: 70%;
    left: 2%;
    width: 40%;
    background-color: white;
    padding: 1rem;
    font-size: 1.5rem;
    border: 1px solid grey;
}


.hero__text__btn{
    background-color: #F78065 ;
    color: white;
    border: none;
    padding: 0.5rem 0.75rem ;
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.icon{
    width: 1rem;
    margin-right: 1rem;
}