.wrapper{
    display: grid;
    grid-template-columns: 
    [fullw-start]1fr
    [content-start]repeat(12, 6rem)[content-end] 
    1fr[fullw-end];
    gap: 1rem;
}    


header>*,
main>*,
footer>*{
   grid-column: content; 
   display: grid;
   grid-template-columns: subgrid;
}


.no-columns {
    grid-column: content;
    display: block;
}


.full-width{
    grid-column: 1 / -1;
    font-display: block;
}