.service__card__img__contentainer{
    width: 15.5rem;
    height: 11.25rem;
   
}

.service,
.advantage{
    grid-column: span 4;
}

.service{
    padding: 1.5rem;
}

.service__card__text>* {
   margin-bottom: 1.5rem;
}
.service__card__text h3{
    font-size: 1.5rem;
}
.service__card__text p{
  font-size: 1rem;
  color: grey;
}

.service__card__img__contentainer{
   height: 20rem;
}