*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    grid-template-columns: 
    [fullw-start]1fr 
    [content-start]reapeat(12, 8rem)[content-end] 
    1fr[fullw-end];
    gap: 2rem;
}